* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  //font-size: v.$base-font-size;
  //font-family: v.$base-font-family;
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
}

.l-a-wrapper {
  height: 100%;
}

#app {
  height: 100%;
}

nav {
  display: flex;
  gap: 15px;
  padding: 20px;
  z-index: 100;
  position: relative;
}

.a-l-inf {
  z-index: 100;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
