@use '../../variables' as *;

.night-day-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  line-height: 1;
  font-size: 16px;
  border-radius: 8px;
  color: map-get($colors, 'background-day');

  .l-a-wrapper_day & {
    background: map-get($colors, 'background-night');
  }

  .l-a-wrapper_night & {
    background: darken(map-get($colors, 'background-night'), 5%);
  }
}
